USE [master]
GO
/****** Object:  Database [PrograWeb]    Script Date: 2/21/2024 1:24:05 PM ******/
CREATE DATABASE [PrograWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PrograWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PrograWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PrograWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PrograWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PrograWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PrograWeb]
GO
/****** Object:  Table [dbo].[TabCurso]    Script Date: 2/21/2024 1:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabCurso](
	[ID_CURSO] [int] IDENTITY(1,1) NOT NULL,
	[CURSO] [nvarchar](50) NULL,
	[FECHA_INICIO] [date] NULL,
	[FECHA_FIN] [date] NULL,
	[ID_ESTADO] [int] NULL,
	[ID_HORARIO] [int] NULL,
 CONSTRAINT [PK_TAB_CURSO] PRIMARY KEY CLUSTERED 
(
	[ID_CURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabCursoImpartir]    Script Date: 2/21/2024 1:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabCursoImpartir](
	[ID_CURSO_IMPARTIR] [int] NOT NULL,
	[ID_CURSO] [int] NULL,
	[ID_PROFESOR] [int] NULL,
 CONSTRAINT [PK_TAB_CURSO_IMPARTIR] PRIMARY KEY CLUSTERED 
(
	[ID_CURSO_IMPARTIR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabEstado]    Script Date: 2/21/2024 1:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabEstado](
	[ID_ESTADO] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO] [nvarchar](50) NULL,
 CONSTRAINT [PK_TAB_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabEstudiante]    Script Date: 2/21/2024 1:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabEstudiante](
	[ID_ESTUDIANTE] [int] IDENTITY(1,1) NOT NULL,
	[CEDULA] [varchar](50) NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO_PAT] [varchar](50) NULL,
	[APELLIDO_MAT] [varchar](50) NULL,
	[CORREO] [varchar](50) NULL,
	[FECHA_NACIMIENTO] [date] NULL,
 CONSTRAINT [PK_TAB_ESTUDIANTE] PRIMARY KEY CLUSTERED 
(
	[ID_ESTUDIANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabHorario]    Script Date: 2/21/2024 1:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabHorario](
	[ID_HORARIO] [int] IDENTITY(1,1) NOT NULL,
	[HORARIO] [nvarchar](50) NULL,
 CONSTRAINT [PK_TAB_HORARIO] PRIMARY KEY CLUSTERED 
(
	[ID_HORARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabIngrediente]    Script Date: 2/21/2024 1:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabIngrediente](
	[ID_INGREDIENTES] [int] IDENTITY(1,1) NOT NULL,
	[ID_RECETA] [int] NULL,
	[INGREDIENTE] [varchar](50) NULL,
 CONSTRAINT [PK_TAB_INGREDIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_INGREDIENTES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabInstruccion]    Script Date: 2/21/2024 1:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabInstruccion](
	[ID_INSTRUCCIONES] [int] IDENTITY(1,1) NOT NULL,
	[ID_RECETA] [int] NULL,
	[INSTRUCCION] [varchar](50) NULL,
 CONSTRAINT [PK_TAB_INSTRUCCION] PRIMARY KEY CLUSTERED 
(
	[ID_INSTRUCCIONES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabMatricula]    Script Date: 2/21/2024 1:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabMatricula](
	[ID_MATRICULA] [int] IDENTITY(1,1) NOT NULL,
	[ID_ESTUDIANTE] [int] NULL,
	[ID_CURSO] [int] NULL,
 CONSTRAINT [PK_TAB_MATRICULA] PRIMARY KEY CLUSTERED 
(
	[ID_MATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabProfesor]    Script Date: 2/21/2024 1:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabProfesor](
	[ID_PROFESOR] [int] NOT NULL,
	[CEDULA] [varchar](100) NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO_PAT] [varchar](50) NULL,
	[APELLIDO_MAT] [varchar](50) NULL,
	[CORREO] [varchar](50) NULL,
	[FECHA_NACIMIENTO] [date] NULL,
 CONSTRAINT [PK_TAB_PROFESOR] PRIMARY KEY CLUSTERED 
(
	[ID_PROFESOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabReceta]    Script Date: 2/21/2024 1:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabReceta](
	[ID_RECETA] [int] IDENTITY(1,1) NOT NULL,
	[NOM_RECETA] [varchar](50) NULL,
	[DURACION] [varchar](50) NULL,
	[PORCIONES] [varchar](50) NULL,
	[FECHA_CREACION] [date] NULL,
	[ID_ESTADO] [int] NULL,
 CONSTRAINT [PK_TAB_RECETA] PRIMARY KEY CLUSTERED 
(
	[ID_RECETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TabCurso]  WITH CHECK ADD  CONSTRAINT [FK_TAB_CURSO_TAB_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[TabEstado] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[TabCurso] CHECK CONSTRAINT [FK_TAB_CURSO_TAB_ESTADO]
GO
ALTER TABLE [dbo].[TabCurso]  WITH CHECK ADD  CONSTRAINT [FK_TAB_CURSO_TAB_HORARIO] FOREIGN KEY([ID_HORARIO])
REFERENCES [dbo].[TabHorario] ([ID_HORARIO])
GO
ALTER TABLE [dbo].[TabCurso] CHECK CONSTRAINT [FK_TAB_CURSO_TAB_HORARIO]
GO
ALTER TABLE [dbo].[TabCursoImpartir]  WITH CHECK ADD  CONSTRAINT [FK_TAB_CURSO_IMPARTIR_TAB_PROFESOR] FOREIGN KEY([ID_PROFESOR])
REFERENCES [dbo].[TabProfesor] ([ID_PROFESOR])
GO
ALTER TABLE [dbo].[TabCursoImpartir] CHECK CONSTRAINT [FK_TAB_CURSO_IMPARTIR_TAB_PROFESOR]
GO
ALTER TABLE [dbo].[TabIngrediente]  WITH CHECK ADD  CONSTRAINT [FK_TAB_INGREDIENTE_TAB_RECETA] FOREIGN KEY([ID_RECETA])
REFERENCES [dbo].[TabReceta] ([ID_RECETA])
GO
ALTER TABLE [dbo].[TabIngrediente] CHECK CONSTRAINT [FK_TAB_INGREDIENTE_TAB_RECETA]
GO
ALTER TABLE [dbo].[TabInstruccion]  WITH CHECK ADD  CONSTRAINT [FK_TAB_INSTRUCCION_TAB_RECETA] FOREIGN KEY([ID_RECETA])
REFERENCES [dbo].[TabReceta] ([ID_RECETA])
GO
ALTER TABLE [dbo].[TabInstruccion] CHECK CONSTRAINT [FK_TAB_INSTRUCCION_TAB_RECETA]
GO
ALTER TABLE [dbo].[TabMatricula]  WITH CHECK ADD  CONSTRAINT [FK_TAB_MATRICULA_TAB_CURSO] FOREIGN KEY([ID_CURSO])
REFERENCES [dbo].[TabCurso] ([ID_CURSO])
GO
ALTER TABLE [dbo].[TabMatricula] CHECK CONSTRAINT [FK_TAB_MATRICULA_TAB_CURSO]
GO
ALTER TABLE [dbo].[TabReceta]  WITH CHECK ADD  CONSTRAINT [FK_TAB_RECETA_TAB_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[TabEstado] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[TabReceta] CHECK CONSTRAINT [FK_TAB_RECETA_TAB_ESTADO]
GO
USE [master]
GO
